@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;500;600&display=swap');

$tabletwidth: 1100px;
@mixin  tablet {
    @media (max-width: #{$tabletwidth}) {
        @content;
    }
}

$sidePadding: 0 50px;
$sidePaddingTablet: 0 20px;

* {
    // text
    // Use Montserrat font for official details
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    // desgin
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // misc
    color: #777!important;
    list-style: none;
    outline: none;
    text-decoration: none;
    flex-wrap: wrap;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
    // design
    background: url(../gfx/Konverge2021.svg), #555;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 90% 110%;

    // misc
    scroll-snap-type: y mandatory;

    &>* {
        // design
        padding: $sidePadding;
        padding-top: 100px;
        @include tablet {
            // design
            padding: $sidePaddingTablet;
        }
    }
}

img.logo {
    // dimensions
    height: 30px;
}

img.logo.invert {
    // filter
    filter: brightness(100);
}

h1.logo {
    // text
    font-size: 24px;
}

.card {
    // dimensions
    width: 200px;
    height: 100px;
    // desing
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

section {
    // design
    border-bottom: 1px solid #eee;
    padding-top: 100px;
}

.navigation__bar {
    // dimensions
    height: 60px;
    // positions
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    // display
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // design
    padding: $sidePadding;
    background-color: rgba(white, $alpha: 0.5);
    // misc
    box-shadow: 0 0 10px -5px;
    @include tablet {
        // design
        padding: $sidePaddingTablet;
    }

    .menu__trigger {
        z-index: 10;
        // display
        display: none;
        @include tablet {
            // display
            display: block;
        }

        img {
            // dimensions
            width: 20px;
        }
    }
}

.navigation__list {
    flex: 1;
    // dimensions
    max-width: 400px;
    // display
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // text
    text-align: right;
    font-weight: bold;

    li {
        // design
        padding: 5px;
        border-bottom: 2px solid transparent;
        // transitions
        transition: 0.2s;

        &:hover {
            // design
            border-bottom: 2px solid #777;
            // text
            color: #333!important;
        }
    }
}

@include tablet {
    .navigation__bar {
        width: 100vw;
        // positions
        position: fixed;
        z-index: 10;
        // design
        background-color: rgba(white, $alpha: 1);
        backdrop-filter: blur(5px);
    
        .navigation__list {
            width: 100vw;
            // dimensions
            height: 250px;
            // positions
            position: absolute;
            top: -100vh;
            left: 0;
            right: 0;
            z-index: 1;
            // display
            flex-direction: column;
            align-items: stretch;
            // design
            padding: $sidePaddingTablet;
            padding-top: 20px;
            padding-bottom: 50px;
            background-color: rgba(white, $alpha: 1);
            backdrop-filter: blur(5px);
            border-bottom: 1px solid #eee;
            box-shadow: 0 0 50px -5px;
            // transitions
            transition: 0.2s;

            li {
                // text
                text-align: left;
                font-size: 18px;
            }
        }
    }
}

.navigation__list.active{
    // positions
    position: fixed!important;
    top: 50px!important;
}

section.hero {
    scroll-snap-align: start;
    // dimensions
    height: 100vh;
    // display
    // display: grid;
    // grid-template-columns: 600px 1fr;
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-evenly;
    // design
    background-color: white;
    padding: 0;
    @include tablet {
        // display
        flex-direction: column;
    }

    h1.title {
        // text
        font-size: 30px;
    }

    img.logo__medium, img.logo__large {
        // dimensions
        width: 250px;
    }

    div.container{
        // dimensions
        max-width: 750px;
        // display
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        // design
        padding: $sidePadding;
        @include tablet {
            padding: $sidePaddingTablet;

            * {
                // text
                text-align: justify;
            }
        }

        &:nth-of-type(1) {
            // dimensions
            width: 250px;
            // design
            padding: 0;
        }
    }
}

.section__sponsors {
    scroll-snap-align: start;
    // dimensions
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // design
    background-color: white;

    h1.title {
        // text
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }

    .gallery {
        flex: 1;
        // dimensions
        width: 100%;
        // design
        border: none;
        border-radius: 10px;
        margin: 50px 0;
        background-color: rgba(white, $alpha: 0.5);
        backdrop-filter: blur(5px);
    }

    .grid {
        // display
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .flex {
        // display
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

footer {
    scroll-snap-align: start;
    // dimensions
    width: 100vw;
    // positions
    position: absolute;
    // design
    padding-top: 50px;
    padding-bottom: 50px;
    // display
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    // misc
    * {color: white!important;}
}

// Misc
.glass__effect {
    backdrop-filter: blur(5px);
}

.debug {
    // design
    background-color: red;
}

.preproduction__tag {
    // dimensions
    width: 15px;
    height: 15px;
    // positions
    position: relative;
    display: inline-block;
    // design
    // border: 2px solid #777;
    border-radius: 50%;
    background-color: red;
}

.preproduction__tag .instruction {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff!important;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.preproduction__tag:hover .instruction {
  visibility: visible;
}