@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Quicksand:wght@400;500;600&display=swap");
* {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #777 !important;
  list-style: none;
  outline: none;
  text-decoration: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../gfx/Konverge2021.svg), #555;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 90% 110%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body > * {
  padding: 0 50px;
  padding-top: 100px;
}

@media (max-width: 1100px) {
  body > * {
    padding: 0 20px;
  }
}

img.logo {
  height: 30px;
}

img.logo.invert {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

h1.logo {
  font-size: 24px;
}

.card {
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
}

section {
  border-bottom: 1px solid #eee;
  padding-top: 100px;
}

.navigation__bar {
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 10px -5px;
          box-shadow: 0 0 10px -5px;
}

@media (max-width: 1100px) {
  .navigation__bar {
    padding: 0 20px;
  }
}

.navigation__bar .menu__trigger {
  z-index: 10;
  display: none;
}

@media (max-width: 1100px) {
  .navigation__bar .menu__trigger {
    display: block;
  }
}

.navigation__bar .menu__trigger img {
  width: 20px;
}

.navigation__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  font-weight: bold;
}

.navigation__list li {
  padding: 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation__list li:hover {
  border-bottom: 2px solid #777;
  color: #333 !important;
}

@media (max-width: 1100px) {
  .navigation__bar {
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .navigation__bar .navigation__list {
    width: 100vw;
    height: 250px;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 0 50px -5px;
            box-shadow: 0 0 50px -5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .navigation__bar .navigation__list li {
    text-align: left;
    font-size: 18px;
  }
}

.navigation__list.active {
  position: fixed !important;
  top: 50px !important;
}

section.hero {
  scroll-snap-align: start;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  padding: 0;
}

@media (max-width: 1100px) {
  section.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.hero h1.title {
  font-size: 30px;
}

section.hero img.logo__medium, section.hero img.logo__large {
  width: 250px;
}

section.hero div.container {
  max-width: 750px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

@media (max-width: 1100px) {
  section.hero div.container {
    padding: 0 20px;
  }
  section.hero div.container * {
    text-align: justify;
  }
}

section.hero div.container:nth-of-type(1) {
  width: 250px;
  padding: 0;
}

.section__sponsors {
  scroll-snap-align: start;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.section__sponsors h1.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.section__sponsors .gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 50px 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.section__sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.section__sponsors .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  scroll-snap-align: start;
  width: 100vw;
  position: absolute;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer * {
  color: white !important;
}

.glass__effect {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.debug {
  background-color: red;
}

.preproduction__tag {
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
}

.preproduction__tag .instruction {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff !important;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.preproduction__tag:hover .instruction {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */